.header{
    margin: 0px 100px;
    width: 40%;
    display: flex;
    align-items: center;
    background-color: violet;
}
.header nav ul{
    display: flex;
    gap: 45px;
    list-style: none;
}
.header nav ul li a{
    text-decoration: none;
    color: #fff;
}
.header nav ul li{
    font-weight: 700;
    padding: 9px; 
}
.header nav ul li:hover{
    background-color: blue;
}

